{% load static %}
{% include './common/common_header.html' %}

<body id="page-top">
        {% include './common/common_siderbar.html' %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                {% include './common/common_topbar.html' %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">排名预测</h1>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">
                            <!-- Basic Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">排名预测</h6>
                                </div>
                                <div class="card-body">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">输入以下内容进行预测</h1>
                                    </div>
                                    <form class="spider" method="POST" action="/api/predict">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            请选择预测省份(请提前爬取5年数据)：
                                            <select class="form-select" name="province" id="province" style="border-radius: 20px;">
                                                <option value="北京" selected>北京</option>
                                                <option value="天津">天津</option>
                                                <option value="河北">河北</option>
                                                <option value="山西">山西</option>
                                                <option value="内蒙古">内蒙古</option>
                                                <option value="辽宁">辽宁</option>
                                                <option value="吉林">吉林</option>
                                                <option value="黑龙江">黑龙江</option>
                                                <option value="上海">上海</option>
                                                <option value="江苏">江苏</option>
                                                <option value="浙江">浙江</option>
                                                <option value="安徽">安徽</option>
                                                <option value="福建">福建</option>
                                                <option value="江西">江西</option>
                                                <option value="山东">山东</option>
                                                <option value="河南">河南</option>
                                                <option value="湖北">湖北</option>
                                                <option value="湖南">湖南</option>
                                                <option value="广东">广东</option>
                                                <option value="广西">广西</option>
                                                <option value="海南">海南</option>
                                                <option value="重庆">重庆</option>
                                                <option value="四川">四川</option>
                                                <option value="贵州">贵重</option>
                                                <option value="云南">云南</option>
                                                <option value="陕西">陕西</option>
                                                <option value="甘肃">甘肃</option>
                                                <option value="青海">青海</option>
                                                <option value="宁夏">宁夏</option>
                                                <option value="新疆">新疆</option>
                                              </select>
                                        </div>
                                        <div class="form-group">
                                            请选择预测年份：
                                            <select class="form-select" name="year" id="year" style="border-radius: 20px;">
                                                <option value="2023" selected>2023</option>
                                              </select>
                                        </div>
                                        <div class="form-group">
                                            请输入分数
                                            <input type="text" class="form-control form-control-user"
                                                id="grade" name="grade" placeholder="输入想要预测的分数"
                                                style="border-radius: 20px;">
                                        </div>
                                        <button type="button" id="submitBtn" class="btn btn-primary btn-user btn-block"
                                        style="margin-bottom: 40px;">开始预测</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 mb-4">
                            <!-- Collapsable Card Example -->
                            <div class="card shadow mb-4" id="predictResultCard" style="display: none;">
                                <!-- Card Header - Accordion -->
                                <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
                                    role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                    <h6 class="m-0 font-weight-bold text-primary">预测结果</h6>
                                </a>
                                <!-- Card Content - Collapse -->
                                <div class="collapse show">
                                    <div class="card-body">
                                        <p id="predictResult"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            {% include './common/common_footer.html' %}
            <script>
                function getCookie(name) {
                    let cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        const cookies = document.cookie.split(';');
                        for (let i = 0; i < cookies.length; i++) {
                            const cookie = cookies[i].trim();
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                const csrftoken = getCookie('csrftoken');

                $("#submitBtn").click(function() {
                    $.ajax({
                        type: "POST",
                        url: "/api/predict",
                        data: {
                            "province": $("#province option:selected").val(),
                            "year": $("#year option:selected").val(),
                            "grade": $("#grade").val(),
                            "csrfmiddlewaretoken": csrftoken
                        },
                        success: function(data) {
                            $("#predictResultCard").css("display", "block");
                            $("#predictResult").html(data);
                        }
                    })
                });
            </script>

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
</body>

</html>